* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: "Geomanist", sans-serif;
    overflow-x: hidden;
    /* width: 1300px; */
  }
  
  .titleHeading{
    font-size:24px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .paragraph{
    font-size: 16px;
    font-weight: 400;
  }
  
  /* Navbar Styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    height: 150px;
    position: sticky;
    top: 0;
    /* z-index: 1000; */
  }
  
  .navbar .logo a {
    color: #6c63ff;
    margin-left: 18px;
  }
  
  /* Navbar List Styling */
  .navbar ul {
    list-style: none;
    display: flex;
    font-family: "Geomanist-Medium", sans-serif;
  }
  
  .navbar ul li {
    font-size: 12.5px;
    font-weight: 800;
    letter-spacing: 1px;
    /* margin-right: 15px; */
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease-in-out;
  }
  
  .navbar ul li a:hover {
    transform: translateY(5px);
  }
  
  /* Button Styling */
  .nav-button {
    background-color: #c5b4e3;
    color: black;
    border: none;
    border-radius: 35px;
    font-size: 12px;
    padding: 30px 20px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in, background-color 0.3s ease;
    align-self: center;
  }
  
  .nav-button:hover {
    transform: translateY(4px);
  }
  
  /* Home Section Styling */
  #home {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 80vh;
    background-image: url('../img/section1.webp');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #491E87;
    position: relative;
  }
  
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
  }
  
  /* Home Heading */
  .home-container h1 {
    font-size: 2.2em;
    display: flex;
    justify-content: left;
    letter-spacing: 0.5px;
    margin-top: 110px;
    margin-left: 100px;
    font-weight: 800;
  }
  
  .home-container h2 {
    font-size: 2.2em;
    line-height: 1.1;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  .home-desc p {
    font-weight: 600;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.88);
    width: 430px;
    margin-left: 105px;
  }
  
  .home-img img {
    width: 620px;
    height: 400px;
    display: flex;
    text-align: left;
    left: -372px;
    top: 286px;
    position: absolute;
  }
  
  /* Main Section */
  #main {
    height: auto;
    margin-top: 200px;
  }
  
  #main h1 {
    color: #A020F0;
    padding-top: 40px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.9px;
    text-align: left;
    margin-left: 225px;
  }
  
  .area-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 130px;
    margin-bottom: 50px;
  }
  
  .box-1,
  .box-2 {
    width: 530px;
    height: 210px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .box-1 {
    margin-left: 25px;
  }
  
  .box-2 {
    margin-left: 20px;
  }
  
  .box-1 p,
  .box-2 p {
    text-align: left;
    color: #000000B3;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
  }
  
  .area-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 70px;
    position: relative;
  }
  
  .area-box-1 .box-3 img {
    height: 500px;
    margin-left: 230px;
  }
  
  .area-box-1 .box-4 h2 {
    display: flex;
    justify-content: center;
    justify-content: center;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 800;
    /* font-weight: 800; */
    line-height: 1.2;
  }
  
  /* .area-box-1  .box-4{
    
  } */
  .main-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: -30px;
  
  }
  
  .box-4-wapper {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .area-box-1 .box-5 img {
    width: 180px;
    height: 180px;
    margin-left: 950px;
    margin-top: -50px;
    margin-bottom: -100px;
  }
  
  .area-img {
    position: relative;
  }
  
  .area-img .start-1 {
    position: absolute;
    right: 150px;
  }
  
  .area-img .start-2 {
    position: absolute;
    right: 150px;
    top: 70px;
    height: 100px;
    transition: all 0.3s ease-out;
  }
  
  .area-img .start-2:hover {
    transform: translateY(10px);
  }
  
  .area-img img {
    height: 150px;
    width: auto;
  }
  
  #solution {
    width: 100%;
    height: 1500px;
  }
  
  .sol-box {
    display: flex;
    background-color: #F5F5F5;
  }
  
  .sol-box-1 {
    width: 50%;
    height: 500px;
  }
  
  .sol-box-1 img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  
  .sol-box-2 {
    width: 50%;
    height: 500px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .box-based {
    width: 65%;
    height: 250px;
  }
  
  .box-based h2 {
    color: #A020F0;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .box-based p {
    color: #000000B3;
    font-family: "Geomanist-Book", Sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
  }
  
  .sol-box-1-1 {
    width: 50%;
    height: 500px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .sol-box-2-1 {
    width: 50%;
    height: 500px;
  }
  
  .sol-box-2-1 img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  
  .sum-container {
    width: 100%;
    height: 300px;
    background-color: #660DA3;
    position: relative;
  }
  
  .sum-desc {
    width: 1173px;
    height: 120px;
  }
  
  .sum-desc p {
    color: white;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 34px;
    letter-spacing: 1.5px;
    padding-top: 100px;
    text-align: center;
    margin-left: 150px;
  }
  
  .sum-img img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 55px;
    top: 245px;
  }
  
  .ben-container {
    width: 100%;
    height: 2000px;
  }
  
  .heading-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 100px;
    margin-left: 250px;
  }
  
  .ben-container h2 {
    color: #000000;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 43px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 80px;
    padding-top: 10px;
    margin-left: 50px;
  }
  
  .ben-container img {
    width: 148px;
    height: 148px;
    margin-right: 280px;
    color: #382877;
    margin-bottom: 80px;
  }
  
  .boxes {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .ben-box1 {
    width: 500px;
    height: 418px;
  }
  
  .ben-box1 img {
    width: 380px;
    height: 380px;
    align-self: start;
  }
  
  .ben-box2 {
    width: 500px;
    height: 418px;
    padding-top: 100px;
  }
  
  .ben-box2 h2 {
    width: 490px;
    height: 30px;
    color: #A020F0;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: start;
  }
  
  .ben-box2 p {
    color: #000000B3;
    font-family: "Geomanist-Book", Sans-serif;
    width: 440px;
    height: 84px;
    font-size: 24px;
    font-weight: 300;
    line-height: 23px;
    margin-top: 20px;
    margin-left: 50px;
  }
  
  .ben-box1-1 {
    width: 500px;
    height: 418px;
    padding-top: 100px;
  }
  
  .ben-box1-1 h2 {
    width: 490px;
    height: 30px;
    color: #A020F0;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  
  .ben-box1-1 p {
    color: #000000B3;
    font-family: "Geomanist-Book", Sans-serif;
    width: 440px;
    height: 84px;
    font-size: 24px;
    font-weight: 300;
    line-height: 23px;
    margin-top: 30px;
    margin-left: 50px;
  }
  
  .ben-box2-1 {
    width: 500px;
    height: 418px;
    text-align: end;
  }
  
  .ben-box2-1 img {
    width: 380px;
    height: 380px;
    margin-left: 130px;
  }
  
  .ben-button {
    text-align: center;
    margin-top: 120px;
  }
  
  .ben-button button {
    background-color: rgb(102, 13, 163);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 25px 35px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .ben-button button:hover {
    background-color: rgb(102, 13, 163);
    border: 6px solid #EDD4FF;
    padding: 16px 25px;
  }
  
  .faq-container {
    width: 100%;
    height: 1100px;
    position: relative;
    /* background-color: brown; */
  }
  
  .faq-heading {
    width: 1260px;
    height: 44px;
    color: #000000;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 20px;
    /* margin-left: 50px; */
  }
  
  .faq-boxes {
    width: 100%;
    height: 800px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .faq-box {
    width: 300px;
    height: 600px;
    cursor: pointer;
  }
  
  .faq-button {
    background-color: rgb(102, 13, 163);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-right: auto;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
    padding: 25px 45px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .faq-button:hover {
    background-color: rgb(102, 13, 163);
    border: 6px solid #EDD4FF;
    padding: 16px 25px;
  }
  
  .faq-img img{
    position: absolute;
    top: -300;
    left: 0;
  
  }
  
  .res-container {
    width: 100%;
    height: 1300px;
    margin-top: 275px;
    position: relative;
  }
  
  .res-heading {
    color: #000000;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: center;
    padding-top: 300px;
  }
  
  .res-blocks {
    width: 85%;
    display: flex;
    margin-top: 150px;
    margin-left: 120px;
  }
  
  .block {
    width: 420px;
    height: 275px;
  }
  
  .block h2 {
    width: 360px;
    height: 48px;
    color: #660DA3;
    font-family: "Geomanist", Sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .block p {
    width: 300px;
    height: 132px;
    text-align: justify;
    text-align: center;
    font-family: "Geomanist-Regular", Sans-serif;
    font-size: 22px;
    font-weight: 100;
    margin-left: 30px;
    color: #000000;
  }
  
  .line {
    height: 250px;
    color: #660DA3;
  }
  
  .res-img {
    position: absolute;
    right: 0;
    top: 430;
  }
  
  .trial-container {
    width: 100%;
    height: 750px;
  }
  
  .trial-heading h2 {
    width: 1329PX;
    height: 44px;
    color: #000000;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 120px;
  }
  
  .trial-boxes {
    display: flex;
    justify-content: center;
    gap: 110px;
  }
  
  .trial-box {
    width: 500px;
    height: 310px;
    text-align: center;
  }
  
  .trial-box img {
    width: 490px;
    height: 285px;
  }
  
  .trial-box-1 p {
    text-align: center;
    font-family: "Geomanist", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    width: 490px;
    height: 135px;
    line-height: 1.3;
    margin-top: 20px;
  }
  
  .based-container {
    width: 100%;
    height: 900px;
    background-image: url(../img/R1.webp);
    display: flex;
    justify-content: center;
  }
  
  .based-heading {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    margin-top: 250px;
    color: white;
  }
  
  .based-heading h2 {
    width: 530px;
    height: 150px;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: white;
    letter-spacing: 2.2px;
  }
  
  .based-button {
    background-color: white;
    color: rgb(102, 13, 163);
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 50px;
    padding: 23px 37px;
    margin-top: 100px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 18px;
  }
  
  /* ENCER TEAM SECTION STYLING */
  .team-container {
    width: 100%;
    height: 1500px;
  
  }
  
  .team-heading {
    width: 1329px;
    height: 44px;
    text-align: center;
    color: #000000;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 100px;
  }
  
  .team-leader {
    display: flex;
    justify-content: center;
  }
  
  .team-leader img {
    width: 240px;
    height: 240px;
    margin-top: 150px;
    text-align: center;
    border-radius: 150px;
    margin-bottom: 30px;
  }
  
  .team-heading-1 {
    width: 464px;
    height: 32px;
    color: #660DA3;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .team-heading-1 h3 {
    width: 464px;
    height: 32px;
    color: #660DA3;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
  }
  
  .team-heading-1 p {
    width: 410px;
    height: 98px;
    color: #660DA3;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
  }
  
  .founders {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    margin: 220px auto;
    flex-wrap: wrap;
  }
  
  .founder-box {
    width: 22%;
    max-width: 350px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .founder-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .founder-head {
    color: #660DA3;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 65px;
  }
  
  .founder-head h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .founder-head p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }
  .founder-img-1 img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover; 
    margin-left: 28px;
  }
  .founder-head-1 {
    color: #660DA3;
    font-family: "Geomanist-Medium", Sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 20px;
  }
  
  .founder-head-1 h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .founder-head-1 p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }
  
  .pic-container {
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-pics {
    width: 85%;
    height: 400px;
    display: flex;
    justify-content: center;
  }
  
  .pic-desc {
    width: 85%;
    height: 325px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .pic {
    width: 240px;
    height: 240px;
    margin-left: 60px;
  }
  
  .pic-heading {
    width: 300px;
    height: 28px;
    color: #660DA3;
    font-family: "Geomanist-Regular", Sans-serif;
    font-size: 11px;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
    margin-left: 15px;
  
  }
  
  .pic-heading-2 {
    width: 360px;
    height: 28px;
    color: #660DA3;
    font-family: "Geomanist-Regular", Sans-serif;
    font-size: 10px;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
  }
  
  .pic-heading-3 {
    width: 450px;
    height: 32px;
    color: #660DA3;
    font-family: "Geomanist-Regular", Sans-serif;
    font-size: 10px;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
  }
  
  /* Contact styling */
  .contact-container {
    width: 100%;
    height: 900px;
    background: url('../images/Contact-Backround-2.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Form Styles */
  .form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 658px;
    width: 80%;
  }
  
  .form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6a0dad;
    /* Purple Heading */
  }
  
  .form h3 {
    color: #9C9C9C;
    font-family: "Geomanist-Thin", Sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .inputs {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 10px;
  }
  
  .data input {
    width: 455px;
    height: 40px;
    border: 1px solid black;
  }
  
  .form select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 40px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-button {
    width: 153px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 15px 15px;
    background-color: rgb(102, 13, 163);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Footer styling */
  
  .main-footer {
    background-color:#6a0dad;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .footer-parts {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin-top: 80px;
  }
  
  .part {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Left Section */
  .part-left img {
    width: 50px;
    height: 122px;
  }
  .part-left p{
    width: 212px;
    height: 25px;
    color: #FFFFFF;
    font-family: "Geomanist-Regular", Sans-serif;
    line-height: 0.2em;
    letter-spacing: 0.5px;
  }
  .empty-class{
    width: 150px;
    height: 100px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 12px;
  }
  
  .social-links i {
    width: 20px;
    font-size: 15px;
    margin-right: 10px;
  }
  
  /* Right Section */
  .part-right{
    margin-left: 20px;
  }
  .part-right p {
    line-height: 1.4;
    text-align: left;
    width: 310px;
    font-size: 12px;
    padding-bottom: 20px;
  }
  
  .part-right a {
    color: #fff;
    text-decoration: underline;
  }
  